body {
    /* height: 100vh;
    width: 100vw; */
    font: 16px normal;
    text-align: left;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}


a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin : 10px
    /* margin-right: 35px; */
    /* align-items: flex-start; */
}

i{
    color: black;
    margin-right: 300px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 35px;

}

.cazebre {
    font-size: 30px;
    color: saddlebrown;
}

.casa {
    border: 2px;
    padding: 0%;
    max-width: 1800px;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap
    
    
}

.item {
    border: 2px;
    height: 320px;
    width: 320px;
}
    

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    overflow: auto;

}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 50%;
    border-radius: 15px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


h2 {
    text-align: center;
}


.search-button {
    background-color: #ff5a5f;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}



.barras {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: #aaa;
    height: 100vh;
    width: 100%;
    padding: 6px 10px 6px 30px;
   
}

.barras form label {
    font-weight: 500;
    margin: 15px;
}

.barras form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color:white;
    border-radius: 50px;
    
}

.barras form input {
    display: block;
    outline: none;
    border: none;
    background-color: white;
    border-radius: 50px;
    margin: 15px;
   

}

.label {
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}


    
    


