body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.search-box{
    height: 80px;
    align-items: flex-start;
    
    
}

.search-text {
    
    background: none;
    font-size: 40px;
    background-color:white
}

.search-btn {
    font-size: 30px;
    align-items: flex-start;
}

a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin : 10px
    /* margin-right: 35px; */
    /* align-items: flex-start; */
}

i{
    color: black;
    margin-right: 300px;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

}

.cazebre {
    font-size: 30px;
    color: saddlebrown;
}

.casa {
    display: flex;
    flex-wrap:wrap;
    
}
    
#all-container{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
}

